In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
from pyspark.sql.functions import max, desc, col, window, column, desc

In [2]:
spark = SparkSession.builder.master("local[6]") \
                    .appName('spark_toolset') \
                    .getOrCreate()

spark.conf.set("spark.sql.shuffle.partitions", "5")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/Cellar/apache-spark/3.2.0/libexec/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/27 10:27:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
staticDataFrame = spark.read.format("csv") \
                    .option("header", "true") \
                    .option("inferSchema", "true") \
                    .load("../data/retail-data/by-day/*.csv")

staticDataFrame.createOrReplaceTempView("retail_data")
staticSchema = staticDataFrame.schema

In [4]:
print(staticSchema)
staticDataFrame.show(5)

StructType(List(StructField(InvoiceNo,StringType,true),StructField(StockCode,StringType,true),StructField(Description,StringType,true),StructField(Quantity,IntegerType,true),StructField(InvoiceDate,StringType,true),StructField(UnitPrice,DoubleType,true),StructField(CustomerID,DoubleType,true),StructField(Country,StringType,true)))
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   580538|    23084|  RABBIT NIGHT LIGHT|      48|2011-12-05 08:38:00|     1.79|   14075.0|United Kingdom|
|   580538|    23077| DOUGHNUT LIP GLOSS |      20|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|
|   580538|    22906|12 MESSAGE CARDS ...|      24|2011-12-05 08:38:00|     1.65|   14075.0|United Kingdom|
|   580538|    21914|BLUE HARMONICA IN...|      24|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|
|   580538|    22467|   GUMBALL COAT RACK|       6|2011-12-05 08:38:00|     2.55|   14075.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [5]:
staticDataFrame.selectExpr("CustomerId", "(UnitPrice*Quantity) as TotalPrice", "InvoiceDate") \
                .groupBy(col("CustomerId"), window(col("InvoiceDate"), "1 day")) \
                .sum("TotalPrice").withColumnRenamed("sum(TotalPrice)", "TotalPrice_within_Window") \
                .show(5)

+----------+--------------------+------------------------+
|CustomerId|              window|TotalPrice_within_Window|
+----------+--------------------+------------------------+
|   14075.0|{2011-12-05 08:00...|      316.78000000000003|
|   18180.0|{2011-12-05 08:00...|                  310.73|
|   15358.0|{2011-12-05 08:00...|       830.0600000000003|
|   15392.0|{2011-12-05 08:00...|      304.40999999999997|
|   15290.0|{2011-12-05 08:00...|      263.02000000000004|
+----------+--------------------+------------------------+
only showing top 5 rows

In [6]:
streamingDataFrame = spark.readStream \
                        .schema(staticSchema) \
                        .option("maxFilesPerTrigger", "1") \
                        .format("csv") \
                        .option("header", "true") \
                        .load("../data/retail-data/by-day/*.csv")

In [7]:
streamingDataFrame.isStreaming

True

In [8]:
purchaseByCustomerPerHour = streamingDataFrame.selectExpr("CustomerId", "(UnitPrice * Quantity) as TotalPrice", "InvoiceDate") \
                    .groupBy( col("CustomerId"), window(col("InvoiceDate"), "1 day")) \
                    .sum("TotalPrice")

In [17]:
purchaseByCustomerPerHour.writeStream \
                            .format("memory") \
                            .queryName("customer_purchases") \
                            .outputMode("complete") \
                            .start()

23/05/27 11:04:26 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /private/var/folders/wk/_nxf_xjj16s2_tbn7hkxcln80000gr/T/temporary-de14dc07-868a-43fd-83ed-26141fec0baf. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/05/27 11:04:26 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [18]:
purchaseByCustomerPerHour.writeStream \
                            .format("console") \
                            .queryName("customer_purchases_2") \
                            .outputMode("complete") \
                            .start()

23/05/27 11:04:29 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /private/var/folders/wk/_nxf_xjj16s2_tbn7hkxcln80000gr/T/temporary-ee8c5ad1-fa66-4d28-a5b7-fbaaa6136c2c. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/05/27 11:04:29 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

-------------------------------------------
Batch: 0
-------------------------------------------
+----------+--------------------+------------------+
|CustomerId|              window|   sum(TotalPrice)|
+----------+--------------------+------------------+
|   12921.0|{2010-12-01 08:00...|             322.4|
|   16583.0|{2010-12-01 08:00...|233.45000000000002|
|   17897.0|{2010-12-01 08:00...|            140.39|
|   12748.0|{2010-12-01 08:00...|              4.95|
|   15350.0|{2010-12-01 08:00...|            115.65|
|   17809.0|{2010-12-01 08:00...|              34.8|
|   13747.0|{2010-12-01 08:00...|              79.6|
|   16250.0|{2010-12-01 08:00...|            226.14|
|   15983.0|{2010-12-01 08:00...|            440.89|
|   17511.0|{2010-12-01 08:00...|           1825.74|
|   14001.0|{2010-12-01 08:00...|            301.24|
|   17460.0|{2010-12-01 08:00...|              19.9|
|   18074.0|{2010-12-01 08:00...|             489.6|
|   12868.0|{2010-12-01 08:00...|             203.3|
|   15513.0|{2010-12-01 08:00...|             357.0|
|   13705.0|{2010-12-01 08:00...|318.14000000000004|
|   13694.0|{2010-12-01 08:00...|            842.12|
|   13468.0|{2010-12-01 08:00...|360.05000000000007|
|   13408.0|{2010-12-01 08:00...|1024.6800000000003|
|   14594.0|{2010-12-01 08:00...|254.99999999999997|
+----------+--------------------+------------------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+----------+--------------------+------------------+
|CustomerId|              window|   sum(TotalPrice)|
+----------+--------------------+------------------+
|   17235.0|{2010-12-02 08:00...|             341.9|
|   16583.0|{2010-12-01 08:00...|233.45000000000002|
|   12748.0|{2010-12-01 08:00...|              4.95|
|   17809.0|{2010-12-01 08:00...|              34.8|
|   16250.0|{2010-12-01 08:00...|            226.14|
|   16244.0|{2010-12-02 08:00...|1056.6299999999994|
|   13117.0|{2010-12-02 08:00...|202.11999999999998|
|   17460.0|{2010-12-01 08:00...|              19.9|
|   12868.0|{2010-12-01 08:00...|             203.3|
|   16752.0|{2010-12-02 08:00...|             207.5|
|   13491.0|{2010-12-02 08:00...|              98.9|
|      null|{2010-12-02 08:00...|431.84999999999985|
|   16781.0|{2010-12-02 08:00...|311.24999999999994|
|   14092.0|{2010-12-02 08:00...|              -5.9|
|   14625.0|{2010-12-02 08:00...|            -37.65|
|   13705.0|{2010-12-01 08:00...|318.14000000000004|
|   13408.0|{2010-12-01 08:00...|1024.6800000000003|
|   14594.0|{2010-12-01 08:00...|254.99999999999997|
|   13090.0|{2010-12-01 08:00...|             160.6|
|   15111.0|{2010-12-02 08:00...|288.49999999999994|
+----------+--------------------+------------------+
only showing top 20 rows

-------------------------------------------
Batch: 2
-------------------------------------------
+----------+--------------------+------------------+
|CustomerId|              window|   sum(TotalPrice)|
+----------+--------------------+------------------+
|   12748.0|{2010-12-01 08:00...|              4.95|
|   16250.0|{2010-12-01 08:00...|            226.14|
|   16244.0|{2010-12-02 08:00...|1056.6299999999994|
|   17460.0|{2010-12-01 08:00...|              19.9|
|   13491.0|{2010-12-02 08:00...|              98.9|
|   14625.0|{2010-12-02 08:00...|            -37.65|
|   14594.0|{2010-12-01 08:00...|254.99999999999997|
|   12921.0|{2010-12-01 08:00...|             322.4|
|   14901.0|{2010-12-02 08:00...|204.15000000000006|
|   15922.0|{2010-12-02 08:00...|              -5.9|
|   14865.0|{2010-12-02 08:00...|              37.2|
|   14443.0|{2010-12-02 08:00...|            -15.57|
|   17511.0|{2010-12-01 08:00...|           1825.74|
|   14679.0|{2010-12-03 08:00...|             -2.55|
|   18041.0|{2010-12-02 08:00...| 428.9399999999999|
|   13468.0|{2010-12-01 08:00...|360.05000000000007|
|   12471.0|{2010-12-02 08:00...|             -17.0|
|   17235.0|{2010-12-02 08:00...|             341.9|
|   17949.0|{2010-12-03 08:00...|            1314.0|
|   14092.0|{2010-12-02 08:00...|              -5.9|
+----------+--------------------+------------------+
only showing top 20 rows

-------------------------------------------
Batch: 3
-------------------------------------------
+----------+--------------------+------------------+
|CustomerId|              window|   sum(TotalPrice)|
+----------+--------------------+------------------+
|   12748.0|{2010-12-01 08:00...|              4.95|
|   16250.0|{2010-12-01 08:00...|            226.14|
|   16244.0|{2010-12-02 08:00...|1056.6299999999994|
|   17460.0|{2010-12-01 08:00...|              19.9|
|   13491.0|{2010-12-02 08:00...|              98.9|
|   16353.0|{2010-12-05 08:00...|             204.0|
|   14625.0|{2010-12-02 08:00...|            -37.65|
|   14594.0|{2010-12-01 08:00...|254.99999999999997|
|   12921.0|{2010-12-01 08:00...|             322.4|
|   14901.0|{2010-12-02 08:00...|204.15000000000006|
|   15922.0|{2010-12-02 08:00...|              -5.9|
|   14865.0|{2010-12-02 08:00...|              37.2|
|   14800.0|{2010-12-05 08:00...| 555.8399999999999|
|   14443.0|{2010-12-02 08:00...|            -15.57|
|   15235.0|{2010-12-05 08:00...| 85.55000000000001|
|   17511.0|{2010-12-01 08:00...|           1825.74|
|   14679.0|{2010-12-03 08:00...|             -2.55|
|   18041.0|{2010-12-02 08:00...| 428.9399999999999|
|   13468.0|{2010-12-01 08:00...|360.05000000000007|
|   12471.0|{2010-12-02 08:00...|             -17.0|
+----------+--------------------+------------------+
only showing top 20 rows

In [20]:
for query in spark.streams.active:
    query.stop()

In [22]:
spark.sql("SELECT * FROM customer_purchases_2 ORDER BY `sum(TotalPrice)` DESC").show(5)

AnalysisException: Table or view not found: customer_purchases_2; line 1 pos 14;
'Sort ['sum(TotalPrice) DESC NULLS LAST], true
+- 'Project [*]
   +- 'UnresolvedRelation [customer_purchases_2], [], false

In [23]:
spark.sql("SELECT * FROM customer_purchases ORDER BY `sum(TotalPrice)` DESC").show(5)

+----------+--------------------+------------------+
|CustomerId|              window|   sum(TotalPrice)|
+----------+--------------------+------------------+
|   18102.0|{2010-12-07 08:00...|          25920.37|
|      null|{2010-12-06 08:00...|23395.099999999904|
|      null|{2010-12-03 08:00...| 23021.99999999999|
|      null|{2010-12-09 08:00...|15354.279999999955|
|      null|{2010-12-01 08:00...|12584.299999999988|
+----------+--------------------+------------------+
only showing top 5 rows

In [24]:
staticDataFrame.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [25]:
preppedDataFrame = staticDataFrame \
                    .na.fill(0) \
                    .withColumn("day_of_week", date_format(col("InvoiceDate"), "EEEE")) \
                    .coalesce(5)

TypeError: withColumn() takes 3 positional arguments but 4 were given